<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../css/index_styles.css" />
    <title>Noterer</title>
  </head>
  <body>
    <div id="wrapper">
      <header>
        <nav>
          <div id="nav_row1" class="nav_row">
            <button id="new_note" class="button">Create new Note</button>
            <select id="style_selector" class="">
              <option value="green_style">Green Style</option>
              <option value="blue_style">Blue Style</option>
            </select>
          </div>
          <div id="nav_row2" class="nav_row">
            <div id="order_options">
              <button id="finished_date" class="button">Finish Date</button>
              <button id="created_date" class="button">Created Date</button>
              <button id="importance" class="button">Importance</button>
            </div>
            <button id="show_finished" class="button">Show Finished</button>
          </div>
        </nav>
      </header>
      <section id="notes_wrapper">
        <div id="note">
          <div id="note_title">Note Title</div>
          <div id="due_date_finished">
            <span><input type="checkbox"/></span>
            <span>dd/mm/yyyy</span>
          </div>
          <div id="note_importance">⚡</div>
          <div id="note_description" disabled>
            Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum
            dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
            Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum
            dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
            Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum
            dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
            Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum
            dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
            Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
          </div>
          <button id="edit" class="button">Edit</button>
        </div>
      </section>
    </div>
  </body>
</html>
