<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../styles.css" />
    <title>Noterer</title>
  </head>
  <body>
    <div id="wrapper">
      <header>
        <nav>
          <div id="nav_row1">
            <span>Noterer</span>
            <button id="new_note">Create new Note</button>
            <select id="style_selector">
              <option value="green_style">Green Style</option>
              <option value="blue_style">Blue Style</option>
            </select>
          </div>
          <div id="nav_row2">
            <div id="order_options">
              <button id="finished_date">Finish Date</button>
              <button id="created_date">Created Date</button>
              <button id="importance">Importance</button>
            </div>
            <button id="show_finished">Show Finished</button>
          </div>
        </nav>
      </header>
      <section>
        <ul id="notes_list">
          <li>
            <div id="note">
              <p id="due_date">Due Date:dd/mm/yyyy</p>
              <p id="note_title"></p>
              <div id="note_importance">⚡</div>
              <input type="checkbox" id="finished" />
              <textarea id="note_description" disabled>
                Lorem ipsum dolor sit amet
            </textarea
              >
              <button id="edit">Edit</button>
            </div>
          </li>
        </ul>
      </section>
    </div>
  </body>
</html>
