<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../css/index_styles.css" />
    <title>Noterer</title>
  </head>
  <body>
    <div id="wrapper">
      <header>
        <nav>
          <div id="nav_row1" class="nav_row">
            <button id="new_note" class="button">
              Create new Note
            </button>
            <select id="style_selector" class="">
              <option value="green_style">Green Style</option>
              <option value="blue_style">Blue Style</option>
            </select>
          </div>
          <div id="nav_row2" class="nav_row">
            <div id="order_options">
              <button id="finished_date" class="button">Finish Date</button>
              <button id="created_date" class="button">Created Date</button>
              <button id="importance" class="button">Importance</button>
            </div>
            <button id="show_finished" class="button">Show Finished</button>
          </div>
        </nav>
      </header>
      <section id="notes_wrapper"></section>
    </div>

    <script src="../js/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.min.js"></script>
    <script id="note_template" type="text/x-handlebars-template">
      {{#each notes}}
      <div class="note" data-note-id="{{id}}">
          <div class="note_title">{{title}}</div>
          <div class="due_date_finished">
            <span><input type="checkbox" class="checkbox_finished" {{#if this.finished}}checked{{/if}}></span>
            <span>{{dueDate}}</span>
          </div>
          <div class="note_importance">{{importance}}</div>
          <div class="note_description">
            {{description}}
          </div>
          <button class="edit" class="button">Edit</button>
        </div>
        {{/each}}
    </script>
  </body>
</html>
