<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../css/note_styles.css" />
    <link rel="stylesheet" href
    <title>Noterer</title>
  </head>
  <body>
    <section>
      <form id="note_details">
        <label for="details_title" id="label_details_title"> Title</label>
        <input type="text" id="details_title" required/>
        <label for="details_description" id="label_details_description"
          >Description</label
        >
        <textarea id="details_description" required></textarea>
        <label for="details_importance" id="label_detail_importance"
          >Importance</label
        >
        <select id="details_importance">
          <option value="Low" data-importance="0">Low</option>
          <option value="Medium" data-importance="1">Medium</option>Medium</option>
          <option value="High" data-importance="2">High</option>
        </select>

        <label for="details_due_date" id="label_details_due_date">
          Due Date</label
        >
        <input type="date" id="details_due_date" required />
        <button type="submit" id="save" class="button">
          Save
        </button>
        <button id="cancel" class="button">
          Cancel
        </button>
    </form>
    </section>
    <script src="../js/note.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  </body>
</html>
