<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../styles.css" />
    <title>Projekt1-CAS-FEE</title>
  </head>
  <body>
    <section>
      <div id="note_details">
        <label for="title"> Title</label>
        <input type="text" id="note_title" />
        <label for="description">Description</label>
        <textarea id="description">
                Lorem ipsum dolor sit amet
        </textarea>
        <label for="importance">Importance</label>
        <div>⚡⚡⚡⚡</div>
        <label for="due"></label>
        <input type="date" id="due" />
        <button id="save">Save</button>
        <button id="cancel">Cancel</button>
      </div>
    </section>
  </body>
</html>
