html,
body {
  background-color: rgb(230, 225, 225);
}

.button {
  padding: 7.5px 7.5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  border: 1px solid black;
}

#note_details {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr 1fr 1fr 1fr;
  grid-template-areas:
    "title_label title"
    "description_label description"
    "importance_label importance"
    "date_label date"
    "cancel save";
  grid-gap: 10px;
  border: 1px solid black;
  margin: 25px;
  padding: 10px;
  background-color: white;
}

#label_details_title {
  grid-area: title_label;
}

#details_title {
  grid-area: title;
}

#label_details_description {
  grid-area: description_label;
}

#details_description {
  grid-area: description;
}

#label_detail_importance {
  grid-area: importance_label;
}

#details_importance {
  grid-area: importance;
}

#label_details_due_date {
  grid-area: date_label;
}

#details_due_date {
  grid-area: date;
}

#save {
  grid-area: save;
}

#cancel {
  grid-area: cancel;
}
